
<div class="container mt-3">
  <div class="form-group" id="top-group-btns">
    <label for="managerSelect">Filter By Manager:</label>
    <select id="managerSelect" class="form-control" [(ngModel)]="currentManagerId" (change)="onManagerSelection()">
      <option [ngValue]="null">Select Manager</option>
      <option *ngFor="let manager of managers" [value]="manager.employeeID">
        {{ manager.firstName }} {{ manager.lastName }}
      </option>
    </select>
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"> Add Employee
      </button>
    </div>
  </div>

  <div class="employee-list">
    <h3>Employees</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Roles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.employeeID }}</td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>
            <span *ngFor="let role of employee.roles; last as isLast">
              {{ role }} {{isLast?'':', '}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="addEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLiveLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addEmployeeModalLabel">Add a new employee:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="form-control" [(ngModel)]="newEmployee.firstName" name="firstName"
              placeholder="Enter first name" required />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" [(ngModel)]="newEmployee.lastName" name="lastName"
              placeholder="Enter last name" required />
          </div>
          <div class="form-group">
            <label for="manager">Manager</label>
            <select id="manager" class="form-control" [(ngModel)]="newEmployee.managerID" name="manager">
              <option [ngValue]="null">No Manager</option>
              <option *ngFor="let manager of managers" [value]="manager.employeeID">
                {{ manager.firstName }} {{ manager.lastName }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Roles</label>
            <div *ngFor="let role of allRoles">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" [value]="role.roleID" (change)="toggleRole(role.roleID)"
                  [checked]="newEmployee.roleIDList.includes(role.roleID)" id="role-{{ role.roleID }}" />
                <label class="form-check-label" for="role-{{ role.roleID }}">
                  {{ role.roleName }}
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewEmployee()">Save Employee</button>
      </div>
    </div>
  </div>
</div>
